@{
    ViewData["Title"] = "Over IRS";
}
<h1>@ViewData["Title"]</h1>

<p>IRS is een Incident Registratie Systeem dat is voortgekomen vanuit een privé project.
   Dit pakket is nog in een vroeg stadium en zal nog veel aan moeten gebeuren.
   De bedoeling is om een product neer te zetten dat zowel makkelijk in gebruik is, maar er ook modern uitziet.
    
    
   Product is nog in ontwikkeling.... </p>
