@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p><a>IRS (Incident Registratie Systeem) - Het systeem dat doet wat u verwacht.</a>.</p>
</div>
